.footer {
    height: $global_footer_height;
    padding: 10px 0;
    background: $global_color_2;
    font-size: 35px;
    color: #fff;
    a:hover {
        color: #fff;
        opacity: .7;
    }
    .social {
        float: right;
        img {
            width: 35px;
        }
        a:hover {
            opacity: .7;
        }
    }
}
