html {
    height: 100%;
}

body {
    font-family: $global_ff1;
    font-size: 14px;
    color: $global_color;
    letter-spacing: .1em;
    height: 100%;
    min-width: 320px;
}
.rtl body { font-family: $global_ff1_rtl;}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: $global_color;
    line-height: 1.4;
}
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

main {
    padding-top: $global_header_height + 20;
    margin-bottom: 30px;
    &.home {
        padding-top: 0;
    }
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 300ms;
    &:hover {
        text-decoration: underline;
        transition: all 300ms;
        color: #55cb9d;
    }
    &.disabled {
        pointer-events: none;
        cursor: default;
        color: #999;
    }
}

b { font-weight: bold; }

img { max-width: 100%; }

.page-wrapper {
    min-height: 100%;
    margin-bottom: -$global_footer_height;
}
.page-buffer {
    height: $global_footer_height;
}

.ff-1 { font-family: $global_ff1; }
.ff-2 { font-family: $global_ff2; }

.rtl .ff-1 { font-family: $global_ff1_rtl; }
.rtl .ff-2 { font-family: $global_ff2_rtl; }



.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.g-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 1px 5px 0;
    font-size: 34px;
    line-height: 1.4;
    background: #56cc9d;
    color: #fff;
    text-transform: uppercase;
    // border-radius: 5px;
    // border: 1px solid transparent;
    &:hover {
        opacity: .6;
        color: #fff;
        text-decoration: none;
    }
    &:focus {
        //outline: thin dotted;
    }
    &--lang {
        font-size: 23px;
        color: #fff;
        background: #000;
        padding: 2px 7px 0;
        border: 0;
    }
    &--nav {
        font-size: 23px;
        color: #fff;
        background: #000;
        padding: 0 7px 2px;
        border: 0;
    }
}

.dropdown-menu {
    display: none;
    &.open {
        display: block;
    }
}


.breadcrumb {
    display: none;
}










.logo {
    margin-bottom: 40px;
    img { max-width: 100%; }
}


.home-block {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 50px;
    h2 {
        font-size: 50px;
        text-transform: uppercase;
    }
    h3 {
        font-size: 35px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p {
        font-size: 30px;
    }
    .slogan {
        font-size: 33px;
        line-height: 72px;
        text-transform: uppercase;
        p {
            padding: 15px 0;
            font-size: 45px;
        }
    }
    .row-img {
        margin-bottom: 30px;
        img {
            margin: 20px 0;
        }
        p {
            font-size: 40px;
        }
    }
    .btn-wrap {
        margin: 30px auto;
    }
    .product-menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
        li {
            margin: 0 5px;
            .img {
                height: 138px;
                width: 138px;
                display: table-cell;
                vertical-align: bottom;
                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }
            .name {
                font-size: 30px;
                max-width: 150px;
            }
        }
    }
}
.home-block-1 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    padding: 180px 0 100px;
    color: #fff;
    height: 624px;
    position: relative;
    .container {
        position: relative;
        height: 100%;
        z-index: 10;
    }
    .social {
        text-align: right;
        position: absolute;
        bottom: -80px;
        right: 0;
        a {
            margin-left: 20px;
            &:hover { opacity: .7; }
        }
    }
    &:after {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        background: #38353a;
        opacity: .5;
        position: absolute;
        z-index: 1;
        bottom: 0;
        right: 0;
    }
}

.home-block-2 {
    .ff-2 {
        font-size: 38px;
    }
}

.home-block-3 {
    .floor {
        p { font-size: 30px; }
        .nis { font-size: 40px; }
    }
}

.home-block-4 {
    position: relative;
    .title {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    }
    .row-img {
        margin-top: 100px;
        p {
            font-size: 33px;
            max-width: 240px;
            margin: 0 auto;
        }
    }
    .join_us {
        max-width: 500px;
        margin: 0 auto;
        line-height: 2em;
        a {
            position: relative;
            top: 20px
        }
    }
}

.home-block-5 {
    h2 {
        font-size: 31px;
        // max-width: 550px;
        margin: 0 auto 30px;
        font-weight: bold;
    }
}

.next-page-img {
    margin: 0 auto;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #b1b4b8;
    position: absolute;
    z-index: 10;
    bottom: -25px;
    left: 0;
    right: 0;
    background: #fff;
    &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -10px 0 0 -6px;
        display: block;
        height: 12px;
        width: 12px;
        border-top: 2px solid #8c8c8c;
        border-left: 2px solid #8c8c8c;
        transform: rotate(225deg);
    }
}














.information-concept {
    h1 {
        font-size: 50px;
        font-weight: bold;
        padding: 30px 0 50px;
        text-transform: uppercase;
    }
    p {
        position: relative;
        .img { position: absolute; }
    }
}
















.room-hire {
    text-align: center;
    h1, h2 {
        font-size: 50px;
        font-weight: bold;
        padding: 30px 0 50px;
        text-transform: uppercase;
    }
    p {
        font-size: 22px;
        text-align: center;
        margin-bottom: 35px;
        &.after-text {
            font-size: 15px;
            font-weight: bold;
            position: relative;
            display: inline-block;
            padding: 0px 20px;
            margin: 40px 0 50px;
            &:before, &:after {
                content: "";
                background-image: url('/catalog/view/theme/default/image/exclamation_mark.png');
                display: block;
                height: 50px;
                width: 13px;
                font-size: 69px;
                color: #00cd9c;
                position: absolute;
                top: 7px;
            }
            &:before { left: 0; }
            &:after { right: 0; }
        }
    }
    .floor-block {
        max-width: 400px;
        margin: 20px auto 20px;
        .title {
            display: inline-block;
            font-size: 17px;
            font-weight: bold;
            border-bottom: 2px solid #56cc9d;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }
        .options {
            width: 240px;
        }
        .floor-img {
            float: right;
            position: relative;
            right: -7px;
            .text {
                position: absolute;
                left: 10px;
                right: 10px;
                text-align: center;
                font-size: 17px;
            }
            img {
                width: 120px;
            }
        }
        .option {
            font-size: 18px;
            // margin-bottom: 31px;
            &:nth-child(1) { margin-bottom: 5px; }
            &:nth-child(2) { margin-bottom: 15px; }
            .img {
                float: left;
                width: 44px;
                img {width: 44px;}
            }
            &-title {
                font-weight: bold;
                margin-left: 55px;
                margin-bottom: 0;
            }
            &-desc {
                margin-left: 55px;
                line-height: 1em;
                min-height: 36px;
            }
        }
    }

    .prices {
        text-align: center;
        p {
            font-size: 22px;
            line-height: 1.2em;
            margin: 10px 0;
        }
    }
}













// Gallery
#links0 {
    h4 { margin-bottom: 60px; }
    .image { text-align: center; }
}







// Team
.teams {
    p {
        text-align: center;
        font-size: 22px;
    }
    .team {
        margin-top: 30px;
        .image {
            max-width: 300px;
            margin: 0 auto;
            img {
                max-width: 100%;
            }
        }
        .name {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            padding: 20px 0;
        }
    }
}






// Rates
.information-rates {
    font-size:21px;
    text-align: center;
    p { margin-bottom: 60px; }
    .img { margin-bottom: 60px; }
    .middle-div {
        margin: 20px auto 70px;
        max-width: 790px;
        font-weight: bold;
        font-size:26px;
    }
    .bott-div {
        text-align: center;
        font-size:26px;
        line-height: 2em;
    }
}




// Contact
.information-contact {
    margin-top: 40px;
    font-size:26px;
    .cont-row {
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
        span {
            margin-left: 75px;
            line-height: 65px;
        }
    }
}