.information {
    p {
        line-height: 1.4em;
        font-size: 23px;
    }
}





.information-concept {
    h1 {
        font-size: 50px;
        font-weight: bold;
        padding: 30px 0 50px;
        text-transform: uppercase;
    }
    p {
        position: relative;
        .img { position: absolute; }
        &.big {
            font-size: 30px;
            font-weight: bold;
        }
    }
}
















.room-hire {
    text-align: center;
    h1, h2 {
        font-size: 50px;
        font-weight: bold;
        padding: 30px 0 50px;
        text-transform: uppercase;
    }
    p {
        font-size: 22px;
        text-align: center;
        margin-bottom: 35px;
        &.after-text {
            font-size: 15px;
            font-weight: bold;
            position: relative;
            display: inline-block;
            padding: 0px 20px;
            margin: 40px 0 50px;
            &:before, &:after {
                content: "";
                background-image: url('/catalog/view/theme/default/image/exclamation_mark.png');
                display: block;
                height: 50px;
                width: 13px;
                font-size: 69px;
                color: #00cd9c;
                position: absolute;
                top: 7px;
            }
            &:before { left: 0; }
            &:after { right: 0; }
        }
    }
    .floor-block {
        max-width: 400px;
        margin: 20px auto 20px;
        .title {
            display: inline-block;
            font-size: 17px;
            font-weight: bold;
            border-bottom: 2px solid #56cc9d;
            padding-bottom: 5px;
            margin-bottom: 15px;
        }
        .options {
            width: 240px;
            text-align: left;
        }
        .floor-img {
            float: right;
            position: relative;
            right: -7px;
            .text {
                position: absolute;
                left: 10px;
                right: 10px;
                text-align: center;
                font-size: 17px;
            }
            img {
                width: 120px;
            }
        }
        .option {
            font-size: 18px;
            // margin-bottom: 31px;
            &:nth-child(1) { margin-bottom: 5px; }
            &:nth-child(2) { margin-bottom: 15px; }
            .img {
                float: left;
                width: 44px;
                img {width: 44px;}
            }
            &-title {
                font-weight: bold;
                margin-left: 55px;
                margin-bottom: 0;
            }
            &-desc {
                margin-left: 55px;
                line-height: 1em;
                min-height: 36px;
            }
        }
    }

    .prices {
        text-align: center;
        p {
            font-size: 22px;
            line-height: 1.2em;
            margin: 10px 0;
        }
    }

    .btn-wrap {
        margin-top: 45px;
    }
}













// Gallery
#links0 {
    h4 { margin-bottom: 60px; }
    .image { text-align: center; }
}

.image-wrap {
    width: 20%;
    float: left;
}







// Team
.teams {
    p {
        text-align: center;
        font-size: 22px;
    }
    .team {
        margin-top: 30px;
        .image {
            max-width: 300px;
            margin: 0 auto;
            img {
                max-width: 100%;
            }
        }
        .name {
            text-align: center;
            font-size: 30px;
            font-weight: bold;
            padding: 20px 0;
        }
    }
}










// Rates
.information-rates {
    font-size:21px;
    text-align: center;
    p { margin-bottom: 60px; }
    .img {
        margin-bottom: 60px;
        height: 172px;
    }
    .middle-div {
        margin: 20px auto 70px;
        // max-width: 790px;
        font-weight: bold;
        font-size:25px;
    }
    .bott-div {
        text-align: center;
        font-size:26px;
        line-height: 2em;
    }
}









// Contact
.information-contact {
    margin-top: 40px;
    font-size:26px;
    text-transform: uppercase;
    .cont-row {
        position: relative;
        img {
            position: absolute;
            top: 14px;
            left: 0;
        }
        span {
            margin-left: 75px;
            line-height: 90px;
        }
    }
}