@media screen and (max-width: 1200px) {

} // end max-width: 1200px



@media screen and (max-width: 1170px) {
    .header {
        .top-nav-toggle { display: block; }
        .top-nav {
            display: none;
            &.open {
                display: block;
                position: absolute;
                top: 50px;
                background: #fff;
                // border-radius: 5px;
                @include g-box-shadow(0, 0, 20px, rgba(0,0,0,.4));
                width: auto;
                min-width: 170px;
                z-index: 10;

                ul {
                    display: block;
                    &.sub-nav {
                        display: none;
                    }
                }
                li {
                    padding: 0 5px;
                    a {
                        color: #000;
                        &:hover {
                            color: #56cc9d;
                        }
                    }
                    &.active a {
                        color: #56cc9d;
                    }
                }
            }
        }
        .lang {
            position: absolute;
            top: 0;
            right: 15px;
        }
    }
    .home-block-4 .row-img { margin-top: 200px; }
    .information-concept .img { display: none; }
} // end max-width: 1170px



@media screen and (max-width: 980px) {

} // end max-width: 980px



@media screen and (max-width: 768px) {
    .home-block .slogan p {
        line-height: 62px;
        font-size: 40px;
    }
} // end max-width: 768px


@media screen and (max-width: 600px) {
    .home-block h3 { font-size: 30px; }
} // end max-width: 600px



@media screen and (max-width: 480px) {
    .home-block .slogan p {
        line-height: 54px;
        font-size: 30px;
    }
    .home-block h3 { font-size: 19px; }
    .information-contact .cont-row {
        text-align: center;
        img {
            position: static;
            display: block;
            margin: 0 auto;
        }
        span {
            margin-left: 0;
        }
    }
} // end max-width: 480px



@media screen and (max-width: 400px) {
    .room-hire .floor-block { margin-bottom: 70px; }
    .room-hire .floor-block .title { display: block; }
} // end max-width: 400px

